$white: #f9f8fc;
$mint: #fecf00;
$black: #16181d;
$purple: #602fa2;
$orange: #f88a00;
$green: #33f297;
$font-stack: 'Roboto', sans-serif;

body {
  color: $black;
  background-color: $white;
  font-family: $font-stack;
  margin: 1rem auto;
  width: fit-content;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  row-gap: 1rem;

  & > div {
    grid-column: 2;
  }

  .new-sentence {
    display: grid;
    row-gap: 1rem;
    grid-template-columns: auto;
    input[type="text"] {
      width: 40rem;
      padding: 0.5em;
      font-size: 1.2rem;
      border: none;
      background-color: lighten($color: $purple, $amount: 50%);
    }

    .input-sentence:focus {
      border: none;
      outline: none;
    }
  }
   button {
      width: fit-content;
      font: $font-stack;
      color: $white;
      background-color: $purple;
      border: none;
      padding: 0.5em 1em;
    }
  .hidden {
    visibility: hidden;
  }

  .sentence {
    cursor: pointer;
  }
  .sentence:hover {
    color: #602fa2;
  }
  .output-sentence {
      position: relative;
    }

    .aboveAvg::before {
      position: absolute;
      content: '';
      top: -0.25rem;
      left: -2rem;
      width: 1.5rem;
      height: 1.5rem;
      background-color: $green;
      border-radius: 0.75rem;
    }
    .belowAvg::before {
      position: absolute;
      content: '';
      top: -0.25rem;
      left: -2rem;
      width: 1.5rem;
      height: 1.5rem;
      background-color: $orange;
      border-radius: 0.75rem;
    }

    span.highlight {
      background-color: $mint;
      color: $black;
      padding: 0.1em 0.2em;
    }
    
    span.longest {
        background-color: $green;
      }

    .sentence-details {
      display: grid;
      grid-template-columns: auto 1fr;
      row-gap: 1em;
      div {
        grid-column: span 2;
      } 
      background-color: lighten($color: $purple, $amount: 50%);
    }

    .sentence-bank {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 1em;

      & > div {
        display: grid;
        grid-template-columns: auto 1fr;
        
      }
    }
    span {
      pointer-events: none;
    }
}



