body {
  color: #16181d;
  background-color: #f9f8fc;
  font-family: "Roboto", sans-serif;
  margin: 1rem auto;
  width: fit-content;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  row-gap: 1rem;
}
body > div {
  grid-column: 2;
}
body .new-sentence {
  display: grid;
  row-gap: 1rem;
  grid-template-columns: auto;
}
body .new-sentence input[type=text] {
  width: 40rem;
  padding: 0.5em;
  font-size: 1.2rem;
  border: none;
  background-color: #e6dbf5;
}
body .new-sentence .input-sentence:focus {
  border: none;
  outline: none;
}
body button {
  width: fit-content;
  font: "Roboto", sans-serif;
  color: #f9f8fc;
  background-color: #602fa2;
  border: none;
  padding: 0.5em 1em;
}
body .hidden {
  visibility: hidden;
}
body .sentence {
  cursor: pointer;
}
body .sentence:hover {
  color: #602fa2;
}
body .output-sentence {
  position: relative;
}
body .aboveAvg::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  left: -2rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #33f297;
  border-radius: 0.75rem;
}
body .belowAvg::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  left: -2rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #f88a00;
  border-radius: 0.75rem;
}
body span.highlight {
  background-color: #fecf00;
  color: #16181d;
  padding: 0.1em 0.2em;
}
body span.highlight.longest {
  background-color: #33f297;
}
body .sentence-details {
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 1em;
  background-color: #e6dbf5;
}
body .sentence-details div {
  grid-column: span 2;
}
body .sentence-bank {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1em;
}
body .sentence-bank > div {
  display: grid;
  grid-template-columns: auto 1fr;
}
body span {
  pointer-events: none;
}
